#root {
    margin: 0 auto;
    text-align: center;
  }
  
  .download-button {
    position: absolute;
    top: 5vh;
    right: 20vw;
    padding: 1rem 2rem;
    font-size: 16px;
    border: none;
    background-color: rgba(107, 107, 229, 0.5); /* Glassy background color with alpha transparency */
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    backdrop-filter: blur(10px); /* Apply blur effect to the background */
    transition: background-color 0.3s ease; /* Add transition effect */
  }
  
  .download-button:hover {
    background-color: rgba(107, 107, 229, 0.7); /* Adjust transparency on hover */
  }