.pattern-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='44.921' height='50' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M.525-21.191v5.166c0 1.4.525 2.714 1.489 3.677L17.775 3.416c2.014-2.014 2.015-5.256.088-7.357L.525-21.191zm43.696 0L27.059-3.941c-2.102 2.101-2.102 5.343-.088 7.357l15.761-15.764c.964-.963 1.489-2.276 1.489-3.677v-5.166zM.525-12.171v4.816c0 1.313.525 2.538 1.4 3.414L13.573 7.705a4.918 4.918 0 000-6.83L.525-12.172zm43.871 0L31.348.874c-2.014 1.926-2.014 4.904 0 6.83L42.994-3.94a4.833 4.833 0 001.402-3.414v-4.817zM.526-3.942V0c0 1.05.438 2.015 1.138 2.803l8.406 8.406c1.576-1.489 1.576-4.03 0-5.605L.525-3.941zm43.695 0l-9.545 9.459c-1.576 1.576-1.576 4.114 0 5.603l8.406-8.406c.788-.7 1.139-1.664 1.139-2.715v-3.941zM.525 3.329v4.464c0 1.226.437 2.364 1.313 3.152l4.203 4.203a4.44 4.44 0 000-6.304L.525 3.328zm43.696 0l-5.518 5.515a4.44 4.44 0 000 6.304l4.203-4.203c.876-.788 1.315-1.926 1.315-3.152V3.328zM-.264 10.944l-1.925 1.928c-1.752 1.751-1.752 4.64 0 6.39l2.101 2.102 1.926-1.926c1.751-1.838 1.751-4.64 0-6.392l-2.102-2.102zm45.01 0l-1.926 1.928c-1.751 1.751-1.751 4.64 0 6.39l2.102 2.102 1.926-1.926c1.751-1.838 1.751-4.64 0-6.392l-2.102-2.102zM.613 28.81v5.166c0 1.4.525 2.714 1.489 3.677l15.761 15.764c1.927-2.014 1.927-5.343 0-7.357L.613 28.809zm43.696 0l-17.25 17.25a5.081 5.081 0 000 7.357L42.82 37.652c.964-.963 1.489-2.276 1.489-3.677v-5.166zM.525 37.829v4.816c0 1.313.525 2.538 1.4 3.414l11.647 11.646c1.84-1.926 1.84-4.991 0-6.83L.525 37.828zm43.871 0L31.348 50.874c-2.014 1.839-2.014 4.904 0 6.83L42.994 46.06a4.833 4.833 0 001.402-3.414v-4.817zM.526 45.972v3.94c0 1.05.438 2.101 1.138 2.802l8.406 8.406c1.576-1.489 1.576-4.027 0-5.603L.525 45.973zm43.695 0l-9.545 9.545c-1.576 1.576-1.576 4.114 0 5.603l8.406-8.406c.788-.7 1.139-1.752 1.139-2.803v-3.94z'  stroke-width='1' stroke='none' fill='hsla(258, 62%, 74%, 1)'/><path d='M23.03 3.766v5.166c0 1.4.524 2.714 1.488 3.677l15.761 15.762c2.102-2.014 2.102-5.253 0-7.267L23.03 3.766zm-1.14.088L4.64 21.104c-2.101 2.014-2.101 5.253 0 7.355l15.762-15.762c.964-.963 1.489-2.276 1.489-3.677V3.854zm-.085 8.931L8.755 25.832c-1.75 1.926-1.75 4.991 0 6.83l11.647-11.646a4.833 4.833 0 001.403-3.414v-4.817zm1.224.088v4.815c0 1.313.527 2.54 1.403 3.416L36.076 32.75c1.927-1.926 1.928-4.992-.086-6.918L23.03 12.873zm-1.138 8.143l-9.545 9.545c-1.576 1.576-1.576 4.114 0 5.603l8.408-8.406c.7-.7 1.137-1.75 1.137-2.801v-3.941zm1.226 0v3.941c0 1.05.35 2.1 1.139 2.8l8.406 8.407c1.576-1.489 1.576-4.027 0-5.603l-9.545-9.545zm-1.226 7.267l-5.516 5.518a4.44 4.44 0 000 6.304l4.203-4.203a4.505 4.505 0 001.313-3.152v-4.467zm1.226 0v4.467c0 1.226.439 2.364 1.315 3.152l4.203 4.203a4.44 4.44 0 000-6.304l-5.518-5.518zm-.787 7.62l-1.928 1.925c-1.751 1.751-1.751 4.641 0 6.393l2.102 2.101 1.928-1.926c1.751-1.75 1.751-4.64 0-6.392l-2.102-2.102z'  stroke-width='1' stroke='none' fill='hsla(8, 87%, 69%, 1)'/></pattern></defs><rect width='100%' height='100%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card {
    background-color: #fbfafd;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 2px 4px rgba(247, 201, 201, 0.1);
    width: 80vw;
    height: 60vh;
    border: 20px double #6b6be5;
}

.content {
    padding: 2vh 12vw;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-content {
    font-family: "Just Another Hand", cursive;
    font-size: 2.8rem;
    padding-top: 20px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.card-title {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 2.8rem;
}

.card-awarded-to {
    margin-bottom: 20px;
}


@media screen and (max-width: 450px) {
    .card-title {
        font-size: 2rem;
    }

    .card-content {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1400px) {
    .card-title {
        font-size: 5rem;
    }

    .card-content {
        font-size: 4rem;
    }
}